<% content_for :title, "403" %>
<% content_for :error_content do %>
  <h2>Oops! Looks like you are not allowed to access that page.</h2>
  <%= link_to "Back", :back %>
<% end %>
<%= render template: "layouts/error" %>