// -----------------------
// FONT SIZE & LINE HEIGHT
// -----------------------
$font-size-h1-sm: 40px;
$line-height-h1-sm: 45px;
$font-size-h1-md: 45px;
$line-height-h1-md: 70px;

$font-size-h2-sm: 24px;
$line-height-h2-sm: 28px;
$font-size-h2-md: 30px;
$line-height-h2-md: 35px;

$font-size-h3-sm: 20px;
$line-height-h3-sm: 32px;
$font-size-h3-md: 24px;
$line-height-h3-md: 26px;

$font-size-h4-sm: 18px;
$line-height-h4-sm: 26px;
$font-size-h4-md: 22px;
$line-height-h4-md: 32px;

$font-size-subline-sm: 16px;
$line-height-subline-sm: 20px;
$font-size-subline-md: 20px;
$line-height-subline-md: 25px;

$font-size-copy-sm: 16px;
$line-height-copy-sm: 22px;
$font-size-copy-md: 18px;
$line-height-copy-md: 26px;

$font-size-copy-small-sm: 12px;
$line-height-copy-small-sm: 14px;
$font-size-copy-small-md: 16px;
$line-height-copy-small-md: 18px;

$font-size-cta-sm: 18px;
$line-height-cta-sm: 20px;
$font-size-cta-md: 20px;
$line-height-cta-md: 28px;

$font-size-link-sm: 16px;
$line-height-link-sm: 18px;
$font-size-link-md: 18px;
$line-height-link-md: 21px;

$font-size-link-small-sm: 13px;
$line-height-link-small-sm: 15px;
$font-size-link-small-md: 15px;
$line-height-link-small-md: 18px;

$font-size-label-sm: 14px;
$font-size-label-md: 16px;

$font-size-form-error-sm: 12px;
$font-size-form-error-md: 14px;

// -------
// SPACING
// -------
$margin-h1: 40px;
$margin-h2: 20px;
$margin-h2-desktop: 30px;
$margin-h3: 40px;
$margin-h4: 15px;
$margin-subline: 35px;
$margin-copy: 35px;
$margin-copy-small: 10px;
