<h1>Editing approved request</h1>

<%= render "form", approved_request: @approved_request %>

<br>

<div>
  <%= link_to "Show this approved request", @approved_request %> |
  <%= link_to "Back to approved requests", approved_requests_path %>
</div>
