<h2>Approved Requests</h2>
<div class="table col-12">
  <table>
    <tbody>
      <tr >
        <th style=font-size:18px><b>Professor Name</b></th>
        <th style=font-size:18px><b>User Name</b></th>
        <th style=font-size:18px><b>Email</b></th>
        <th style=font-size:18px><b>Status</b></th>
      </tr>
      <tr>
        <th>Aravind Badavath</th>
        <th>abadavath</th>
        <th>aravindbadavath@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Rajendra Thottempudi</th>
        <th>rajendra</th>
        <th>rajendrathottempudi@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Shyam Prasad</th>
        <th>shyamprasad</th>
        <th>reddyshyam@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
    </tbody>
  </table>
</div>