// --------------------------------------------
// FONTS
// (define font faces for available fonts here)
// --------------------------------------------

@font-face {
  font-family: "Lato-Light";
  src: font-url("Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-LightItalic";
  src: font-url("Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: font-url("Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Italic";
  src: font-url("Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: font-url("Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: font-url("Lato-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
