html,
body {
  @include font-text-regular;

  font-size: $font-size-copy-sm;
}

h1,
h2,
h3,
h4,
p {
  text-align: left;
  text-align-last: left;

  a {
    font-size: inherit;
    text-decoration: underline;
  }
}

h1 {
  @include font-size-h1;
  @include font-headline-regular;

  margin-bottom: $margin-h1;
}

h2 {
  @include font-size-h2;
  @include font-headline-bold;

  margin-bottom: $margin-h2;

  @include media-breakpoint-up(md) {
    margin-bottom: $margin-h2-desktop;
  }
}

h3 {
  @include font-size-h3;
  @include font-text-bold;

  hyphens: auto;
  margin-bottom: $margin-h3;
}

h4 {
  @include font-size-h4;
  @include font-text-regular;

  hyphens: none;
  margin-bottom: $margin-h4;
}

a {
  @include font-size-link;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

p {
  @include font-size-copy;
  @include font-text-regular;

  hyphens: none;
  margin-bottom: $margin-copy;
}

.small {
  @include font-size-copy-small;

  margin-bottom: $margin-copy-small;
}

.error {
  @include font-size-form-error;
}

.subline {
  @include font-size-subline;
  @include font-text-regular;

  margin-bottom: $margin-subline;
}

button {
  @include font-size-cta;
  @include font-text-bold;
}

.base-link {
  @include font-size-link;
  @include font-text-regular;
}

strong,
b {
  @include font-text-bold;
}

label {
  @include font-size-label;
  @include font-text-medium;
}

#notice {
  @include font-text-bold;
}