@import "functions";

$dark: (
  background: color(raisin-black),
  copy-primary: color(bright-gray),
  copy-secondary: color(black),
  button-copy: color(black),
  button-background: color(bright-gray),
  button-background-hover: color(white),
  button-delete-copy: color(white),
  button-delete-copy-hover: color(white),
  button-delete-background: color(error-red),
  button-delete-background-hover: color(error-red-light),
  button-delete-border: color(error-red),
  button-delete-border-hover: color(error-red-light),
  button-submit-copy: color(white),
  button-submit-copy-hover: color(white),
  button-submit-background: color(success-green),
  button-submit-background-hover: color(success-green-light),
  button-submit-border: color(success-green),
  button-submit-border-hover: color(success-green-light),
  header-background: color(black),
  header-link: color(white),
  header-link-hover: color(attention-yellow),
  navbar-shadow: color(black),
  footer-background: color(cultured),
  footer-submenu-background: color(raisin-black),
  footer-submenu-link: color(white),
  footer-submenu-link-hover: color(attention-yellow),
  table-row-primary: color(white),
  table-row-secondary: color(cultured),
  test-case-card-copy: color(black),
  test-case-card-copy-success: color(success-green),
  test-case-card-copy-failed: color(error-red),
  test-case-card-highlight: color(maroon),
  test-case-card-background: color(cultured),
  test-case-card-box-shadow: color(aisin-black),
  test-case-card-edit-background: color(american-silver),
  table-row-background-primary: color(dark-silver),
  table-row-background-secondary: color(black-olive),
  table-row-background-hover: color(cultured),
  table-row-color-hover: color(black),
  table-border: color(american-silver),
  success: color(success-green),
  error: color(error-red-light),
  link: color(sea-blue),
  link-hover: color(ateneo-blue),
  input-outline: color(dark-silver),
  input-outline-focus: color(black),
  text-card-background: color(bright-gray),
  text-card-copy: color(black),
  code-preview-copy: color(cultured),
  code-preview-border: color(cultured),
  modal-background: color(white),
  modal-shadow: rgba(color(dark-charcoal), 0.5),
  modal-header-background: color(maroon),
  modal-header-color: color(white),
  attention: color(attention-yellow),
);
