@import "functions";

$light: (
  background: color(white),
  copy-primary: color(black),
  copy-secondary: color(white),
  button-copy: color(white),
  button-background: color(maroon),
  button-background-hover: color(puce-red),
  button-delete-copy: color(error-red),
  button-delete-copy-hover: color(white),
  button-delete-background: color(white),
  button-delete-background-hover: color(error-red),
  button-submit-copy: color(success-green),
  button-submit-copy-hover: color(white),
  button-submit-background: color(white),
  button-submit-background-hover: color(success-green),
  header-background: color(maroon),
  header-link: color(white),
  header-link-hover: color(attention-yellow),
  footer-background: color(cultured),
  footer-submenu-background: color(maroon),
  footer-submenu-link: color(white),
  footer-submenu-link-hover: color(attention-yellow),
  table-row-primary: color(white),
  table-row-secondary: color(cultured),
  test-card-background: color(american-silver),
  table-row-background-primary: color(white),
  table-row-background-secondary: color(cultured),
  table-row-background-hover: color(dark-charcoal),
  table-row-color-hover: color(attention-yellow),
  table-border: color(american-silver),
  error: color(error-red),
  link: color(sea-blue),
  link-hover: color(ateneo-blue),
  input-outline: color(dark-silver),
  input-outline-focus: color(black),
  text-card-background: color(pastel-gray),
  code-preview-border: color(black),
);
