@import "functions";

$light: (
  background: color(white),
  copy-primary: color(black),
  copy-secondary: color(white),
  button-background: color(maroon),
  button-background-hover: color(puce-red),
  header-background: color(maroon),
  header-link: color(white),
  header-link-hover: color(yellow),
  footer-background: color(cultured),
  footer-submenu-background: color(maroon),
  footer-submenu-link: color(white),
  footer-submenu-link-hover: color(yellow),
  table-row-primary: color(white),
  table-row-secondary: color(cultured),
  error: color(error-red),
  // borderDark: color(tronDarkBlue),
  // borderLight: color(tronLightBlue),
  // textDark: color(black),
  // textLight: color(white),
  // backgroundDark: color(tronDarkBlue),
  // backgroundLight: color(tronLightBlue),
  link: color(sea-blue),
  link-hover: color(ateneo-blue),
);
