<div id="<%= dom_id attempt %>">

  <h3>Code:</h3>
  <% require 'pygments' %>
  <div class="code-preview">
    <%= Pygments.highlight(attempt.code, options: {encoding: 'utf-8'}).html_safe %>
  </div>
  <br></br>
  <h3>Test Cases:</h3>

</div>
