<div id="<%= dom_id attempt %>">

  <strong>Code:</strong>
  <br></br>
  <% require 'pygments' %>
  <%= Pygments.highlight(attempt.code, options: {encoding: 'utf-8'}).html_safe %>
  <br></br>
  <strong>Test Cases:</strong>
  <br></br>

</div>
