<% content_for :head do %>
  <style><%= format_code_css('.highlight', style: "xcode") %></style>
<% end %>

<p style="color: green"><%= notice %></p>

<h1>Attempts</h1>

<div id="attempts" class="col-12">
  <% @attempts.each do |attempt| %>
    <%= render attempt %>
    <%= link_to "Show this attempt", attempt, class: "button" %>
  <% end %>
</div>
