<p style="color: green"><%= notice %></p>

<h1>Attempts</h1>

<div id="attempts">
  <% @attempts.each do |attempt| %>
    <%= render attempt %>
    <p>
      <%= link_to "Show this attempt", attempt %>
    </p>
  <% end %>
</div>

<%= link_to "New attempt", new_attempt_path %>
