<p style="color: green"><%= notice %></p>

<h1>Attempts</h1>

<div class="col-12">
  <%= link_to "New Attempt", new_attempt_path, class: "button" %>
</div>

<div id="attempts" class="col-12">
  <% @attempts.each do |attempt| %>
    <%= render attempt %>
    <%= link_to "Show this attempt", attempt, class: "button" %>
  <% end %>
</div>
