<div class="col-12">
  <%= render "partials/link", copy: "Back to Attempts", path: attempts_path, icon: "chevron-left", classes: "link--back" %>
</div>

<h1>New attempt</h1>

<%= render "form", attempt: @attempt %>
