<div class="nested-fields">
  <div class="test-cases">
    <h3>I LIKE</h3>
    <%= f.fields_for :test_case do |test_case| %>
      <%= render "test_case_fields", f: test_case %>
    <% end %>
  </div>
</div>