<div class="col-12">
  <%= render "partials/link", copy: "Back", path: :back, icon: "chevron-left", classes: "link--back" %>
</div>

<h1 class="col-12 col-md-6">Edit problem</h1>

<%= render "form", problem: @problem %>
