<h1>Welcome Admin!</h1>


<h2>New Requests</h2>
<div class="table col-12">
  <table>
    <tbody>
      <tr>
        <th style=font-size:18px><b>Professor Name</b></th>
        <th style=font-size:18px><b>User Name</b></th>
        <th style=font-size:18px><b>Email</b></th>
        <th style=font-size:18px><b>Status</b></th>
      </tr>
      <tr>
        <th>Chandu Akula</th>
        <th>chandujk.akula</th>
        <th>chandujk.akula@gmail.com</th>
        <th>
          <button type="button" style="color:green;" class="btn btn-sm btn-success" id="approve_cph"><i class="fa fa-check"></i></button>
          <button type="button" style="color:red;"   class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Chetan NC</th>
        <th>ncchetan</th>
        <th>ncchetan@tamu.edu</th>
        <th>
          <button type="button" style="color:green;" class="btn btn-sm btn-success" id="approve_cph"><i class="fa fa-check"></i></button>
          <button type="button" style="color:red;"   class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Gokul Sai</th>
        <th>gokulsai</th>
        <th>gokulsai@tamu.edu</th>
        <th>
          <button type="button" style="color:green;" class="btn btn-sm btn-success" id="approve_cph"><i class="fa fa-check"></i></button>
          <button type="button" style="color:red;"   class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
    </tbody>
  </table>
</div>


<%
=begin%>
 <h2>Approved Requests</h2>
<div class="table col-12">
  <table>
    <tbody>
      <tr >
        <th style=font-size:18px><b>Professor Name</b></th>
        <th style=font-size:18px><b>User Name</b></th>
        <th style=font-size:18px><b>Email</b></th>
        <th style=font-size:18px><b>Status</b></th>
      </tr>
      <tr>
        <th>Aravind Badavath</th>
        <th>abadavath</th>
        <th>aravindbadavath@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Rajendra Thottempudi</th>
        <th>rajendra</th>
        <th>rajendrathottempudi@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
      <tr>
        <th>Shyam Prasad</th>
        <th>shyamprasad</th>
        <th>reddyshyam@tamu.edu</th>
        <th>
          <button type="button" style="color:red;" class="btn btn-sm btn-danger ml-2" id="reject_cph"><i class="fa fa-times"></i></button>
        </th>
      </tr>
    </tbody>
  </table>
</div> 
<%
=end%>