#welcome-page {
  @include theme(background-color, background);
  @include theme(color, copy-primary);
  
  display: flex;
  justify-content: center;

  > .container {
    height: 80%;

    > .row > [class^="col-"] {
      display: flex;
      flex-direction: column;
    }
  }

  h1 {
    margin: auto;
  }

  .subline {
    margin: 20px auto 50px;
  }
}
