.button {
  @include theme(background-color, button-background);
  @include theme(color, copy-secondary);
  cursor: pointer;
  display: inline-block;
  min-width: 80px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  // background-color: $color-black;
  // color: $color-white;
  font-size: 15px;
  transition: background-color 0.2s ease-out; 

  &:hover {
    @include theme(background-color, button-background-hover);
  }
}
