form {

  label,
  input,
  textarea {
    display: block;
  }

  label {
    margin: 18px 0 10px;

    // &:first-child {
    //   margin-top: 0;
    // }
  }

  input,
  textarea {
    @include theme(border, input-outline, 1px solid);
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 30px;

    &:focus {
      @include theme(outline, input-outline-focus, 0.5px solid);
      @include theme(border, input-outline-focus, 0.5px solid);
    }
  }

  input {
    &[type=text] {
      height: 50px;
      font-size: 16px;
    }

    &[type=submit] {
      width: unset;
      margin-top: 20px;
    }
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
    height: 250px;
    min-height: 50px;
  }

  .field_with_errors {
    input {
      @include theme(border, error, 1px solid);
    }
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;

  label {
    font-size: 15px;
    margin: 0 0 5px;
    text-transform: uppercase;
  }

  input {
    display: block;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
  }
}