form {

  label,
  input,
  textarea {
    display: block;
  }

  label {
    margin: 18px 0 10px;

    // &:first-child {
    //   margin-top: 0;
    // }
  }

  input,
  textarea {
    padding: 10px 10px;
    border: 1px solid gray;

    &:focus {
      outline: 0.5px solid black !important;
      border: 0.5px solid black;
    }
  }

  input {
    &[type=text] {
      height: 50px;
      font-size: 16px;
    }

    &[type=submit] {
      margin-top: 20px;
    }
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    width: 90%;
    min-width: 350px;
    height: 250px;
  }

  .field_with_errors {
    input {
      @include theme(border, error, 1px solid);
      width: 100%;
    }
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;

  label {
    font-size: 15px;
    margin: 10px 0 5px;
    text-transform: uppercase;
  }

  input {
    display: block;
    height: 50px;
    font-size: 15px;
  }

  button {
    margin-top: 20px;
  }
}