.navbar {
  @include theme(background-color, header-background);

  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  @include media-breakpoint-up(md) {
    position: initial;
    width: 100%;
    height: 100%;
    flex-direction: row;
    transform: translateX(0px);
  }

  &--show {
    transform: translateX(0px);
  }

  &__left {
    flex: 1;
    height: 100%;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    ul,
    li,
    a {
      height: 100%;
    }

    li > a {
      @include theme(color, header-link);
      @include font-text-bold;
      @include font-size(16px);
  
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-right: 40px;
      text-transform: uppercase;
  
      &::after {
        @include theme(background-color, header-link-hover);
  
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
  
      &:hover {
        @include theme(color, header-link-hover);
  
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
  
      &.active {
        @include theme(color, header-link-hover);
  
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  form,
  button {
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}