.text-card {
  $offset-md: 20px;

  @include theme(background-color, text-card-background);
  @include theme(color, text-card-copy);
  display: flex;
  margin-bottom: 60px;
  padding: 15px 10px 30px 10px;
  border-radius: 2px;

  @include media-breakpoint-up(md) {
    // margin-left: -$offset-md;
    // margin-right: -$offset-md;
    padding: 25px $offset-md 40px $offset-md;
  }

  h3 {
    @include font-size(16px);
    @include line-height(20px);
    margin: 0 10px 10px 0;
    width: 100px;
    flex-shrink: 0;

    @include media-breakpoint-up(md) {
      @include font-size(20px);
      @include line-height(22px);
      width: 150px;
    }
  }

  p {
    margin: 0;
  }
}