<header class="header">
  <div class="header__content container">
    <%= link_to "CodeJudge", admins_path, id: "logo" %>
    <%= render "partials/adminbar" %>
    <button id="burger-menu" onclick="toggleNavbar()">
      <%= embedded_svg "burger-menu"%>
    </button>
  </div>
</header>
