<footer class="footer">
  <section>
    <div class="footer__logo">
      <a href="https://www.tamu.edu/" target="_blank">
        <%= embedded_svg "tamu-logo-box-stack" %>
      </a>
    </div>
  </section>

  <nav class="footer__submenu">
    <ul>
      <li>
        <a href="https://tamu.edu" target="_blank">&copy; 2022 Texas A&amp;M University</a>
      </li>
      <li>
        <a href="https://www.tamu.edu/statements/index.html" target="_blank">Site Policies</a>
      </li>
    </ul>
  </nav>
</footer>
