<div class="modal">
  <div class="modal__content-wrapper">
    <div class="modal__dialogue">
      <div class="modal__header">
        <h3 class="modal__headline"></h3>
        <button class="modal__close-button" onclick="Modal.close()">
          <%= embedded_svg "close" %>
        </button>
      </div>
      <div class="modal__body">
        <p class="modal__copy"></p>
      </div>
      <div class="modal__buttons"></div>
    </div>
  </div>
</div>