<div class="test-case-card">
  <p>
    <strong>Input:</strong> 
    <% if test_case.input == "" %>
      No Input specified  
    <% else %>  
      <%= test_case.input %>
    <% end %>
  </p>
  <p>
    <strong>Output:</strong> <%= test_case.output %>
  </p>
  <%= test_case.example %>
</div>